body {
    background-color: antiquewhite;
}

#trafficLights {
    width: 180px;
    height: 70px;
    display: block;
    border: 2px solid #8a8a8a;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.color {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #8a8a8a;
}

#next {
    width: 60px;
    height: 70px;
    font-weight: 500;
    border-radius: 10px;
}

#wrap {
    display: flex;
    width: 250px;
    justify-content: space-between;
    margin: 20px;
}
